.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    box-shadow: 1px 0px 12px -8px rgba(34, 60, 80, 0.2);
}
.leftNav{
    cursor: pointer;
    display: flex;
    width: 647px;
    height: 42px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.HeaderLogo{
    max-width: 178px;
}
ul{
    display: flex;
    width: 429px;
    align-items: flex-start;
    gap: 22px;
    list-style: none;
}
.headerLink{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 30.006px;
    color: #211F54;
    transition: 0.3s ease-in-out;
}
.headerLink:hover{
color: #17cfcf;
}
.rightNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}
.btn{
    cursor: pointer;
    padding: 17px 24px 19px 24px;
    border-radius: 14px;
background: #0075FF;
color: #FFF;
text-align: center;
font-size: 16px;
font-family: Roboto;
line-height: 18px;
border: none;
transition: 0.3s ease-in-out;
}
.btn2{
    display: none;
}
.btn:hover{
    background: #0e0ecb;
    color: #ffffff;
    transform: scale(1.01,1.02);
}
.toggle{
    display: none;
}
.fas{
   font-size: 28px;
   cursor: pointer;
}

@media (max-width:992px) {
   .leftNav{
    width: 547px;
    gap: 20px;
   } 
   ul{
    width: 359px;
    gap: 15px;
   }
   .rightNav{
    gap: 15px;
   }
}
@media (max-width:768px){
    ul{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100vh;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 22px;
        padding: 25px 50px;
        list-style: none;
        position: fixed;
top: 90px;
right: 0;
background-color: #a8879d;
transition: .3s ease-in-out;
border-top-left-radius: 22px;
border-bottom-left-radius:22px;
    }
    .headerLink{
        color: #FFFFFF;
    }
    .btn{
        display: none;
    }
    .btn2{
        display: block;
    }
    .leftNav{
        justify-content: flex-start;
    }
    
    .toggle{
        display: block;
       
            }
.active{
    right: -300px;
}
}